.box{
    background-color: black;
    color: aliceblue;
    padding: 1rem;

}

.verde{
    color: green;
}
.rojo{
    color: red;
}

.box-robots{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.box-robot{
    background-color: rgb(128, 252, 252);
    padding: 10px;
    border-radius: 10px;
}